.titulo-principal{
 padding-left: 30px; 
 color: #87CEEB;
text-align: center;
}

.principal{
background-color: #ADD8E6;
padding: 30px;
height: 243px;
}

.titulo-centralizado{
  text-align: center;  
}

p {
  text-align: center;
}ENVIAR

#CEECF5
#missao{
  font-size:20px;
}#CEECF5

em strong {
  color: #191970;
}

#banner{
  height: 303px;
  float:left;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;#CEECF5
}

#beneficios{
  width: 50%;
}

.item {
  font-style: italic;
}

img id{
text-align:left; 
}

body{
  background-color: #ffffff;
}

